
body {
    margin: 0 auto;
    max-width: 62.5em;
}
.card {
    
    width: 20rem;
}
.navbar {
    margin-bottom: 1em;
}
.modal-dialog {
    display: table;
}
.modal-content {
    display: inline-block;
}
#modal-img {
    margin: 0 auto;
}
#map {
    overflow: visible;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0; 
}
.modal-container {
    display: block;
    position: relative;
}
.row {
    padding-bottom: 16px;
}
